In [4]:
import pandas as pd
import seaborn as sns

titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age', 'sex', 'class', 'fare', 'survived']]
print('승객 수: ', len(df))
print(df.head())
print('\n')

grouped = df.groupby(['class'])
print(grouped)

for key, group in grouped:
    print('* key: ', key)
    print('* number: ', len(group))
    print(group.head())
    print('\n')
    
average = grouped.mean()
print(average)
print(average.index)

group3 = grouped.get_group('Third')
print(group3.head())
print('\n')

print(grouped['age'])
print(grouped.age)

print(type(grouped.groups))
print(grouped.groups['First'])
print('\n')
print(type(grouped.indices))
print(grouped.indices['First'])

grouped_two = df.groupby(['class', 'sex'])
for key, group in grouped:
    print('* key: ', key)
    print('* number: ', len(group))
    print(group.head())
    print('\n')
    
average_two = grouped_two.mean()
print(average_two)
print('\n')
print(type(average_two))
print('\n')
print(average_two.index)

group3f = grouped_two.get_group(('Third', 'female'))
print(group3f.head())
print('\n')

승객 수:  891
    age     sex  class     fare  survived
0  22.0    male  Third   7.2500         0
1  38.0  female  First  71.2833         1
2  26.0  female  Third   7.9250         1
3  35.0  female  First  53.1000         1
4  35.0    male  Third   8.0500         0


<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000206E274BD00>
* key:  First
* number:  216
     age     sex  class     fare  survived
1   38.0  female  First  71.2833         1
3   35.0  female  First  53.1000         1
6   54.0    male  First  51.8625         0
11  58.0  female  First  26.5500         1
23  28.0    male  First  35.5000         1


* key:  Second
* number:  184
     age     sex   class     fare  survived
9   14.0  female  Second  30.0708         1
15  55.0  female  Second  16.0000         1
17   NaN    male  Second  13.0000         1
20  35.0    male  Second  26.0000         0
21  34.0    male  Second  13.0000         1


* key:  Third
* number:  491
    age     sex  class     fare  survived
0  22.0    male  Third   7.2500         0
2  26.0  female  Third   7.9250         1
4  35.0    male  Third   8.0500         0
5   NaN    male  Third   8.4583         0
7   2.0    male  Third  21.0750         0


              age       fare  survived
class
First   38.233441  84.154687  0.629630
Second  29.877630  20.662183  0.472826
Third   25.140620  13.675550  0.242363
CategoricalIndex(['First', 'Second', 'Third'], categories=['First', 'Second', 'Third'], ordered=False, dtype='category', name='class')
    age     sex  class     fare  survived
0  22.0    male  Third   7.2500         0
2  26.0  female  Third   7.9250         1
4  35.0    male  Third   8.0500         0
5   NaN    male  Third   8.4583         0
7   2.0    male  Third  21.0750         0


<pandas.core.groupby.generic.SeriesGroupBy object at 0x00000206F3890700>
<pandas.core.groupby.generic.SeriesGroupBy object at 0x00000206F3891030>
<class 'pandas.io.formats.printing.PrettyDict'>
Int64Index([  1,   3,   6,  11,  23,  27,  30,  31,  34,  35,
            ...
            853, 856, 857, 862, 867, 871, 872, 879, 887, 889],
           dtype='int64', length=216)


<class 'dict'>
[  1   3   6  11  23  27  30  31  34  35  52  54  55  61  62  64  83  88
  92  96  97 102 110 118 124 136 137 139 151 155 166 168 170 174 177 185
 187 194 195 209 215 218 224 230 245 248 252 256 257 258 262 263 268 269
 270 273 275 284 290 291 295 297 298 299 305 306 307 309 310 311 318 319
 325 329 331 332 334 336 337 339 341 351 356 366 369 370 373 375 377 380
 383 390 393 412 430 434 435 438 445 447 449 452 453 456 457 460 462 467
 475 484 486 487 492 493 496 498 504 505 507 512 513 515 520 523 527 536
 537 539 540 544 545 550 555 556 557 558 571 572 577 581 583 585 587 591
 599 602 604 607 609 621 625 627 630 632 633 641 645 647 659 660 662 669
 671 679 681 689 690 694 698 700 701 707 708 710 711 712 716 724 730 737
 740 741 742 745 748 759 763 765 766 779 781 782 789 793 796 802 806 809
 815 820 822 829 835 839 842 849 853 856 857 862 867 871 872 879 887 889]
* key:  First
* number:  216
     age     sex  class     fare  survived
1   38.0  female  First  71.2833         1
3   35.0  female  First  53.1000         1
6   54.0    male  First  51.8625         0
11  58.0  female  First  26.5500         1
23  28.0    male  First  35.5000         1


* key:  Second
* number:  184
     age     sex   class     fare  survived
9   14.0  female  Second  30.0708         1
15  55.0  female  Second  16.0000         1
17   NaN    male  Second  13.0000         1
20  35.0    male  Second  26.0000         0
21  34.0    male  Second  13.0000         1


* key:  Third
* number:  491
    age     sex  class     fare  survived
0  22.0    male  Third   7.2500         0
2  26.0  female  Third   7.9250         1
4  35.0    male  Third   8.0500         0
5   NaN    male  Third   8.4583         0
7   2.0    male  Third  21.0750         0


                     age        fare  survived
class  sex
First  female  34.611765  106.125798  0.968085
       male    41.281386   67.226127  0.368852
Second female  28.722973   21.970121  0.921053
       male    30.740707   19.741782  0.157407
Third  female  21.750000   16.118810  0.500000
       male    26.507589   12.661633  0.135447


<class 'pandas.core.frame.DataFrame'>


MultiIndex([( 'First', 'female'),
            ( 'First',   'male'),
            ('Second', 'female'),
            ('Second',   'male'),
            ( 'Third', 'female'),
            ( 'Third',   'male')],
           names=['class', 'sex'])
     age     sex  class     fare  survived
2   26.0  female  Third   7.9250         1
8   27.0  female  Third  11.1333         1
10   4.0  female  Third  16.7000         1
14  14.0  female  Third   7.8542         0
18  31.0  female  Third  18.0000         0


              age       fare  survived
class
First   14.802856  78.380373  0.484026
Second  14.001077  13.417399  0.500623
Third   12.495398  11.778142  0.428949


<class 'pandas.core.frame.DataFrame'>


class
First     78.380373
Second    13.417399
Third     11.778142
Name: fare, dtype: float64


<class 'pandas.core.series.Series'>

C:\Users\knh30\AppData\Local\Temp\ipykernel_27792\2488552862.py:13: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  for key, group in grouped:
C:\Users\knh30\AppData\Local\Temp\ipykernel_27792\2488552862.py:19: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  average = grouped.mean()
C:\Users\knh30\AppData\Local\Temp\ipykernel_27792\2488552862.py:37: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  for key, group in grouped:
C:\Users\knh30\AppData\Local\Temp\ipykernel_27792\2488552862.py:55: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  std_all = grouped.std()