In [4]:
import pandas as pd
import seaborn as sns

titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age', 'sex', 'class', 'fare', 'survived']]

grouped = df.groupby(['class'])
std_all = grouped.std()
print(std_all)
print('\n')
print(type(std_all))
print('\n')

age_mean = grouped.age.mean()
print(age_mean)
print('\n')

age_std = grouped.age.std()
print(age_std)
print('\n')

for key, group in grouped.age:
    group_zscore = (group - age_mean.loc[key])/age_std.loc[key]
    print('* origin: ', key)
    print(group_zscore.head(3))
    print('\n')
    
def z_score(x):
    return (x - x.mean())/x.std()

age_zscore = grouped.age.transform(z_score)
print(age_zscore.loc[[1, 9, 0]])
print('\n')
print(len(age_zscore))
print('\n')
print(age_zscore.loc[0:9])
print('\n')
print(type(age_zscore))

              age       fare  survived
class
First   14.802856  78.380373  0.484026
Second  14.001077  13.417399  0.500623
Third   12.495398  11.778142  0.428949


<class 'pandas.core.frame.DataFrame'>


class
First     38.233441
Second    29.877630
Third     25.140620
Name: age, dtype: float64


class
First     14.802856
Second    14.001077
Third     12.495398
Name: age, dtype: float64


* origin:  First
1   -0.015770
3   -0.218434
6    1.065103
Name: age, dtype: float64


* origin:  Second
9    -1.134029
15    1.794317
17         NaN
Name: age, dtype: float64


* origin:  Third
0   -0.251342
2    0.068776
4    0.789041
Name: age, dtype: float64


1   -0.015770
9   -1.134029
0   -0.251342
Name: age, dtype: float64


891


0   -0.251342
1   -0.015770
2    0.068776
3   -0.218434
4    0.789041
5         NaN
6    1.065103
7   -1.851931
8    0.148805
9   -1.134029
Name: age, dtype: float64


<class 'pandas.core.series.Series'>

C:\Users\knh30\AppData\Local\Temp\ipykernel_13060\666512500.py:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  std_all = grouped.std()